# Data Science Tools and Ecosystems

# In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Popular languages in Data Science
- Popular libraries in Data Science
- Creating markdown cells
- Writing to code and executing them
- Creating Jupyter Notebook
## Author
Adnan Islam

# Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL
4.Java
5.C++

# Some of the commonly used libraries used by Data Scientists include:
1.NumPy
2.SciPy
3.Pandas
4.PyTorch
5.TensorFlow

# Data Science Tools
|Data Science Tools|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add intergers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335